<html>
  <head><title></title></head>
  <body>
  <div class = "cin-input-page">
    <div><h1> Decode your Corporate Identification Number!</h1></div>
    <input type = "text" class = "cin-input" placeholder = "Enter your corporate identification number"/><br/>
    <button class = "decode-button"> DECODE! </button>
    <button class = "history-button"> View History </button>
  </div>
  <div class = "result"></div>
</html>