<html>
  <head><title></title></head>
  <body>
  <div>
    <div> Decode your Corporate Identification Number!</div>
    <input type = "text" class = "input"/>
    <button class = "decode-button"> DECODE! </button>
    <button class = "history-button"> View History </button>
  </div>
  <div class = "result"></div>
  <div class = "history-page"></div>
</html>