<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="loginpage">
  <form>
    <div class="form-group">
      <label>Name:</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  type="text" class="form-control user-name" name="name" placeholder="Enter your name">
      </div>
    </div>
    <button class="btn btn-primary login-btn">LOGIN</button>
  </form>
</div>

</body>
</html>
